.link-button a {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(to left, rgb(30, 165, 30), rgb(71, 71, 231), rgb(162, 15, 162));
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.link-button a:hover {
    background: linear-gradient(to left, rgb(0, 136, 255), rgb(255, 0, 195), rgb(255, 242, 0));
}