#container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-left: 15%;
    flex-direction: column; /* Align elements vertically */
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* Space between image-text section and count section */
    flex-wrap: wrap; /* Allow elements to wrap to the next line */
}

.image {
    margin-right: 50px;
    width: 450px;
    height: 400px;
}

.text {
    text-align: right;
    max-width: 500px;
}

/* Media query for screens less than 768px wide */
@media (max-width: 768px) {
    #container {
        margin-left: 0; /* Remove left margin on smaller screens */
    }
    
    .content {
        flex-direction: column; /* Stack the text and image vertically */
        align-items: flex-start; /* Align items to the start (left) */
    }

    .image {
        margin-right: 0; /* Remove right margin */
        margin-top: 20px; /* Add space between text and image */
        width: 100%; /* Image takes full width */
    }

    .text {
        text-align: left; /* Align text to the left */
    }
}

.count-container {
    display: flex;
    justify-content: space-between; /* Distributes space evenly between items */
    align-items: center;
    margin-top: 20px; /* Adds some space above the line */
}

.count {
    text-align: center;
    margin: 0 10px; /* Adds space between each .count div */
}

/* Media query for screens less than 768px wide */
@media (max-width: 768px) {
    .count-container {
        flex-direction: column; /* Stack the .count divs vertically on smaller screens */
        align-items: flex-start; /* Align items to the left */
    }

    .count {
        margin: 10px 0; /* Adds space between .count divs when stacked */
        text-align: left; /* Align text to the left for consistency */
    }
}
